{#
© 2023 Nikita Karamov <n.karamov@tu-braunschweig.de>

SPDX-License-Identifier: EUPL-1.2 OR AGPL-3.0-only
#}

<div class="place">
	{{ location_name }}
</div>
<div class="date">
	{{ now.weekday }}, {{ now.date }}
</div>
<div class="time">
	{{ now.time }}
</div>
<section
	class="now"
	style="background-color:{{ weather.current.condition.color }}"
>
	<div class="condition">
		<iconify-icon inline icon="{{ weather.current.condition.icon }}"></iconify-icon>
		{{- weather.current.condition.condition -}}
	</div>
	<div class="temperature">
		{{ weather.current.temperature|round|int }} &deg;C
	</div>
</section>
<section class="next">
	<span>Morgen</span>
	<div>
		<iconify-icon inline icon="{{ weather.tomorrow.condition.icon }}"></iconify-icon>
		{{ weather.tomorrow.temperature[0]|round|int }}...{{ weather.tomorrow.temperature[1]|round|int }}
		&deg;C
	</div>
</section>
