{#
© 2023 Nikita Karamov <n.karamov@tu-braunschweig.de>

SPDX-License-Identifier: EUPL-1.2 OR AGPL-3.0-only
#}

<div class="title">
	{{ weather.current.condition.prefix }}
	<span class="condition" style="background-color:{{ weather.current.condition.color }}"><iconify-icon inline icon="{{ weather.current.condition.icon }}"></iconify-icon>
		{{ weather.current.condition.condition }}</span>
	in {{ location_name }}
</div>
<section class="now">
	<div class="temperature">
		{{ weather.current.temperature|round|int }} &deg;C
	</div>
</section>
<section class="tomorrow">
	<div class="title">
		<strong>Morgen:</strong>
		<Icon inline icon={conditionTomorrow.icon} width="10vh" height="10vh" />
		{{ weather_data.tomorrow.min_t }}...{{ weather_data.tomorrow.max_t }}
		&deg;C
	</div>
</section>
