/*
 * © 2023 Nikita Karamov <n.karamov@tu-braunschweig.de>
 *
 * SPDX-License-Identifier: EUPL-1.2 OR AGPL-3.0-only
 */

form > div {
	margin-block-end: 0.5em;
}

form > div > label {
	text-align: end;
	vertical-align: middle;
	font-style: 100%;
	width: 10em;
	margin-inline-end: 1rem;
	display: inline-block;
}

form > div > input:not([type="submit"]) {
	vertical-align: middle;
	padding: 0.25em 0.3em;
	display: inline-block;
}

form > .controls {
	margin-inline-start: 11em;
}

form > div > input[type="submit"] {
	vertical-align: middle;
	min-width: 5em;
	padding: 0.25em 0.3em;
	display: inline-block;
}

main.weather {
	--minute-section-height: 0fr;

	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 6fr var(--minute-section-height);
	grid-template-areas:
		"place place date date time time"
		"now now now next next next"
		"minute minute minute minute minute minute";
}

main.weather.has-minute {
	--minute-section-height: 1fr;
}

.place,
.date,
.time {
	padding: 2vh 1vw;
	font-size: 5vh;
}

.place {
	grid-area: place;
}

.date {
	grid-area: date;
	justify-self: center;
}

.time {
	grid-area: time;
	justify-self: end;
}

.now {
	flex-direction: column;
	grid-area: now;
	justify-content: end;
	align-items: start;
	display: flex;
	padding-left: 2vw;
}

.now .condition {
	font-size: 10vh;
	margin-bottom: 4vh;
}

.now .condition iconify-icon {
	margin-right: 0.25em;
	vertical-align: middle;
}

.now .temperature {
	font-size: 35vh;
	font-weight: 300;
}

.minute {
	grid-area: minute;
}

.next {
	grid-area: next;
	border-top: 1px solid #888;
	font-size: 7vh;

	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}
